.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px grey;
}

.logo {
  text-decoration: none;
}

.logo > img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.link {
  text-decoration: none;
  margin: 20px;
  padding: 15px;
  background: blue;
  color: white;
  font-size: 14px;
  font-family: Arial;
  border-radius: 4px;
}

.link:hover {
  background-color: green;
}
