.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 0.5px 0.5px 0.5px grey;
  font-size: 30px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 0.5px 0.5px 0.5px grey;
}
